fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pydantic-settings
fastapi-cors
passlib[bcrypt]
python-jose[cryptography]
python-socketio
fastapi-socketio
pytest
slowapi
httpx
email-validator
python-multipart
alembic
python-json-logger
