:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255; /* Default background for consistency */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; /* Default background for consistency */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin: 0 auto;
  padding-left: 20px; /* Equivalent to px: 20 in Theme UI */
  padding-right: 20px; /* Equivalent to px: 20 in Theme UI */
  max-width: 1920px; /* Max width */
  min-width: 60vw; /* Min width */
  min-height: 800px; /* Min height, for visual consistency */
}